<section data-ng-controller="HomeworksController">
    <div class="page-header">
        <h1>New Homework</h1>
    </div>
    <div class="col-md-12">

        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="row">
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>

                            <div class="controls">
                                <input type="text" data-ng-model="name" id="name" class="form-control"
                                       placeholder="Name"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="course">Course</label>
                            <select class="form-control" data-ng-model="course">
                                <option  id="course" ng-repeat="course in courses">{{course.name}}</option>
                            </select>
                        </div>
                        <div ng-controller="DatepickerCtrl" class="form-group">
                            <label class="control-label" for="deadline">Deadline</label>

                            <p class="input-group">
                                <input type="text" class="form-control" id="deadline" datepicker-popup="{{format}}"
                                       ng-model="dt" is-open="opened" min-date="minDate"
                                       max-date="'2015-06-22'" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" ng-required="true"
                                       close-text="Close"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="url">Url</label>

                            <div class="controls">
                                <input type="text" data-ng-model="url" id="url" class="form-control" placeholder="Url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="description">Description</label>

                            <div class="controls">
                                <input type="text" data-ng-model="description" id="description" class="form-control"
                                       placeholder="Description"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success">
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</section>